@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
body{
background-color: darkgray;
background-image: url("../imagenes/fondo5.png");
backdrop-filter: blur(10px);
background-repeat: no-repeat;
background-position: center center;
background-size: 100% 100%;
background-attachment: scroll;}

.titulo{
   font-family: "Satisfy", "cursive";
   font-weight: 1;
   font-size: 150px;
   text-shadow: 1px 0 #EAD5B6, 6px 0 black;
   color: #F2C329;}
.h2{
        font-family: "Satisfy", "cursive";
        font-weight: 1;
        color: #ED951A;
        font-size: 60px;
        font-family: "Annie Use Your Telescope";
        text-align: center;}
.h3{
  color: #E37119;
  font-size: 40px;
  font-family: "Annie Use Your Telescope";
  text-decoration:underline;
  margin-left: 35px;}
.ul{
    color: #EAD5B6;
    text-shadow: 1px 0 #EAD5B6, 4px 0 black;
    font-size: 25px;
    margin-left: 100px;}
.ol{
    color: #B79F53;
    text-shadow: 1px 0 #EAD5B6, 1px 0 black;
    font-size: 25px;
    margin-left: 100px;}
.p{
  color: #F7E4BB;
  font-size:25px;
  font-family: georgia;
  margin-left: 100px;
  margin-right: 100px}
  .p1{
    color: #F7E4BB;
    font-size:25px;
    font-family: georgia;
    margin-left: 700px;}
.img1{
  width:600px;
  height:600px;
  margin-left: 350px}
.img2{
  width: 600px;
  height:600px;}
.img3{
  width: 800px;
  height:600px;
  margin-left:550px;}
  .pfinal{
    margin-left: 600px;
    font-family: georgia;
    color:#B79F53;
    font-size: 35px;}
  .h3video{
    margin-left: 800px;
    color: #B79F53;
    font-size: 35px;}
    .video1{
      margin-left: 700px;}
  .iframe2{
    margin-left: 400px;}
  .ifram3{
    margin-left: 600px;}
  .a1{
    color: blue;
    font-size: 60px;
    font-family: fantasy;
    margin-left: 650px;
    text-shadow: 1px 0 #EAD5B6, 1px 0 white;}
  .a2{
    color: blue;
    font-size: 60px;
    font-family: fantasy;
    margin-left: 650px;
    text-shadow: 1px 0 #EAD5B6, 1px 0 white;}
  .a3{
    color: blue;
    font-size: 60px;
    font-family: fantasy;
    margin-left: 650px;
    text-shadow: 1px 0 #EAD5B6, 1px 0 white;}
    .h4{
      margin-left: 800px;
      color: #B79F53;
      font-size: 40px;}
      .audio{
        width:300px;}
