 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');



body{
background-image: url("../imagenes/fondo5.png");

background-repeat: no-repeat;
background-position: center center;
background-size: 100% 100%;
background-attachment:fixed;
background-color: #fafafa;

}


  /*puede ser un logo, titulo*/
header{ 
   display: flex;                           /*flexbox*/
   justify-content:space-around;    /*separacion entre los elementos cerca de los bordes*/
    align-items: center;              /* posicionarlos abajo*/                  
    flex-wrap: wrap;                                        /**/
    font-size: 35px;
   
    font-weight: 1;
    text-shadow: 1px 0 #EAD5B6, 6px 0 black;
    color: #E5B36E;
    border: 5px solid rgb(197, 195, 195);
    }
   
 
 
  nav{
    background-blend-mode: color;
    display: flex;
    justify-content: space-around;
    font-style: italic;
    font-family: monospace;
    font-size: 30px;
    color: black;
    flex-wrap: wrap;
    }
    

    .barranav{
      font-family: Helvetica;
    color: #1e2b2e;
    font-size: 35px;
    padding: 30px;
    text-decoration: none;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    text-shadow: 1px 1px 3px #faf3fa;
    border: solid #ffffff 2px;
    background-color: #B79F53;
     }
    

  .redeslogos{
     
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
  }

.logo-titulo{
  width: 200px;
  height: 200px;
}

.contenedor{
  display: flex;                           /*flexbox*/
  justify-content: center;
  flex-wrap: wrap;   
                                              /**/
}

section{
  width:1100px;
 
  float: left;
  margin-top: 0px;                  /*distancia desde arriba*/
  margin-right: 10px;                  /*distancia de la izq*/

  
  display:  flex;           /*flexbox*/
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;

  padding: 5% 0;
  border: 5px solid rgb(197, 195, 195);
  box-sizing: border-box;
  
  
}



.h2{
   
  font-weight: 1;
  color: #ED951A;
  font-size: 40px;
  font-family: "Annie Use Your Telescope";
  text-decoration: none;
    
    margin-left: 300px;
    margin-bottom: 350px;
}

.h2-{
  font-family: "Satisfy", "cursive";
  
  color: #ED951A;
  font-size: 30px;
  font-family: "Annie Use Your Telescope";
  display: flex;                           /*flexbox centrar subtitulos*/
    align-items: center;
   justify-content:center;
  }

  .h3-{
    color: #E37119;
    font-size: 25px;
    font-family: "Annie Use Your Telescope";
    text-decoration: underline;
    
    margin-left: 50px;
  }

.h3{
  color: #E37119;
  font-size: 25px;
  font-family: "Annie Use Your Telescope";
  text-decoration: underline;
  display: flex;                           /*flexbox centrar subtitulos*/
    align-items: center;
   margin-left: 50px;
}
.ul{
    color: #B79F53;
    text-shadow: 1px 0 #EAD5B6, 1px 0 black;
    font-size: 25px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-left: 50px;
  }
    
   
    
.ol{
    color: #B79F53;
    text-shadow: 1px 0 #EAD5B6, 1px 0 black;
    font-size: 20px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-left: 50px;
   
    

  }
.p{
  color: #B79F53;
  font-size: 25px;
  font-family: georgia;
  display: flex;
    align-items: center;
   justify-content:center;
}

  .p1{
    color: #B79F53;
    font-size:25px;
    font-family: georgia;
    display: flex;
    align-items: center;
   justify-content:center;
    
  }

.img1{
  width:400px;
  height:400px;
  margin-left: 300px;
  border: 3px solid burlywood;
}
.img2{
  width: 400px;
  height:400px;
  border: 3px solid burlywood;
  margin-left: 300px;
  
   
  }

.img3{
  width: 400px;
  height:400px;
  border: 3px solid burlywood;
  margin-left: 350px;
}

  .pfinal{
    
    font-family: georgia;
    color:#B79F53;
    font-size: 35px;
    display: flex;
    align-items: center;
   justify-content:center;
  }
  .h3video{
   
    color: #B79F53;
    font-size: 35px;
    display: flex;
    align-items: center;
   justify-content:center;
    
    
  }

    .video1{
      
     
    border: 3px solid burlywood;
    margin-left: 250px;
    }

  .iframe2{
    
    border: 3px solid burlywood;
    display: flex;
    margin-left: 250px;
    
    }

  .ifram3{
    
    border: 3px solid burlywood;
    display: flex;
    margin-left: 250px;
   
  }

  .a1{
    color: blue;
    font-size: 40px;
    font-family: fantasy;
    text-shadow: 1px 0 #EAD5B6, 1px 0 white;
    display: flex;
    align-items: center;
   justify-content:center;
  }
  .a2{
    color: blue;
    font-size: 40px;
    font-family: fantasy;
    text-shadow: 1px 0 #EAD5B6, 1px 0 white;
    display: flex;
    align-items: center;
   justify-content:center;
  }
  .a3{
    color: blue;
    font-size: 40px;
    font-family: fantasy;
    text-shadow: 1px 0 #EAD5B6, 1px 0 white;
    display: flex;
    align-items: center;
   justify-content:center;
  }
    .h4{
      
      color: #B79F53;
      font-size: 40px;
      display: flex;
    align-items: center;
   justify-content:center;
    }



      aside{
        width: 790px;
        display:  flex;                 /*flexbox*/
        justify-content:center;
        align-items: center;              
        flex-direction: column;
        flex-wrap: wrap;                     /**/
      
        padding: 0 3%;
        border: 5px solid rgb(197, 195, 195);

        font-family: "Satisfy", "cursive";
        font-weight: 1;
            
        color: #ED951A;
         font-size: 40px;
         text-align: center;
         font-family: "Annie Use Your Telescope";
         box-sizing: border-box;
        }
     
      .mas-recetas{
        margin-top: 100px;
      }
      
      .receta-derecha{
        color: #B79F53;
        font-size: 25px;
        font-family: "Annie Use Your Telescope";
        text-decoration: underline;
        text-align: center;
        width: 400px;
        height: 400px;
      }
      
      .img-mila{
        width: 400px;
        height: 400px;
        border: 3px solid rgb(122, 124, 4);
      }
      .img-pastas{
        width: 400px;
        height: 400px;
        border: 3px solid rgb(122, 124, 4);
      }
      
      .img-asado{
        width: 400px;
        height: 400px;
        border: 3px solid rgb(122, 124, 4);}
      
        .polenta{
          margin-bottom: 220px;
        }

    footer{
        
      background-color: black;
      clear:both;                    /*para que no interfiera con section/aside(rompe el float)*/
      color: white;
      display: flex;           
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction:row;
      align-items: center;

    }

    .redeslogosfooter{
     
      display: flex;
      flex-direction:row;
  
    }
    

     .logoface{
        margin-top: 30px;
        width: 60px;
        height: 60px;}

    .logotwitter{
          margin-top: 30px;
          width: 60px;
          height: 60px;
          margin-left: 5px;}

    .logoinsta{
        width: 60px;
        height: 60px;
        margin-left: 5px;
        margin-top: 30px;
        }

        
        .container-boton{
          margin: 50px 70px 0 0;
          background-color: #2e6329;      /*color al ic*/
          border: 1px solid #fff;
          position: fixed;                   /*para dejarlo fijo*/
          z-index: 999;                     /*para que este sobre todos*/
          border-radius: 50%;              
          bottom: 20px;                    /*distancia*/
          right: 25px;                      /*distancia*/
          padding: 25px;
          transition: ease 0.3s;
          animation: efecto 1.2s infinite;         /*efecto*/
      }
      
      .container-boton:hover{
          transform: scale(1.1);
          transition: 0.3s;
        
      }
      
      .boton{
          width: 80px;                 /*tamaño del boton */
          transition: ease 1s;
          
      }
      
      @keyframes efecto{                                     /*animacion para el icono de whatsapp*/
          0%{
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);      /*sombreado*/
          }
          100%{
              box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
          }
      }
    

    
    
